langchain==0.0.101
wget>=3.2
accelerate
addict
albumentations
basicsr
controlnet-aux
diffusers>0.18.0
einops
gradio==3.24.0
imageio
imageio-ffmpeg
invisible-watermark
kornia
numpy
omegaconf
open_clip_torch
openai==0.28.1
opencv-python
prettytable
safetensors
streamlit
test-tube
timm
torchmetrics
transformers
webdataset
yapf
langchain_llm_api
sentence_transformers
compel
httpx==0.23.3